<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--更新模式：0 更新失败，弹出提示让用户选择是否重试更新。 1 更新失败，自动重试更新不提示。-->
    <add key="UpdaterModel" value="1"/>
  </appSettings>
</configuration>